.currentLocation{

	//Variable height and width for dynamic aspect ratios;
	height: 10vh;
	width: 100vw;
	background-color: red;
}

.prefeed{
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70vh;
	width: 100vw;
	background-color: lightblue;
  	overflow: scroll;

}

.feed{
	display: none;
	//Variable height and width for dynamic aspect ratios;
	height: 70vh;
	width: 100vw;
	background-color: lightblue;
  	overflow: scroll;
}

.post{
	display: none;
	//Variable height and width for dynamic aspect ratios;
	height: 15vh;
	width: 100vw;
	background-color: yellow;

}
