.currentLocation{

	//Variable height and width for dynamic aspect ratios;
	height: 10vh;
	width: 100vw;
	background-color: red;
}

.feed{

	//Variable height and width for dynamic aspect ratios;
	height: 70vh;
	width: 100vw;
	background-color: lightblue;
  	overflow: scroll;
}

.post{

	//Variable height and width for dynamic aspect ratios;
	height: 15vh;
	width: 100vw;
	background-color: yellow;
}